* html body {font-size:62.5%;behavior:url("../_c/csshover.htc");}/**/
#content   {behavior:url("../../_c/iepngfix.htc");}
#header img#logo, #header form {display:inline;}
#header li, #header span {zoom: 1;} /*zoom probs in IE7*/
* html #header li, * html #header span {zoom: 0;} /*zoom probs in IE7*/
#header #taskbar a {w\idth:auto;}
#header #access a:active {text-indent:0px;color:red;} /*no IE support for :focus*/
#mainnav ul{list-style:none; padding:0;}
/*#mainnav li {float:left;}
#mainnav li {font-size:1.2em;}*/
/** html #mainnav li {f\loat:none;margin:0 }undo whitespacebug-fix}*/
#mainnav li+li {margin-left:0; }/*undo Gecko whitespacefix for IE7*/
/*#mainnav li ul {margin-top: -3px !important}*/

* html #subnav, * html #nieuws {display:inline}

ul, ol, dl, .attentionbox, .attentionbox1, .attentionbox2 {position:relative; /*disappearing bg*/}
* html #footer {width:100%;}
* html .twocol {padding-right: 10px;}
/*gainLayout*/
* html #mainnav ul, #subnav a, .indekijker, .thema, .extra, .thema a, .floatcontainer, .colcontainer, #content ul {height:1%;}
* html #header #taskbar, * html #header #taskbar a, #contentwrapper {height:1%}
* html .colcontainer, * html .floatcontainer, * html .clearfix  {height: 1%;}
*:first-child+html .colcontainer, *:first-child+html .floatcontainer, *:first-child+html .clearfix {min-height:1px;}

#nieuws p {height:1%}
/* * html #header #taskbar {width:100%;}*/
#nieuws p {padding-bottom: 7px;}
/* conditional css to solve IE bugs */
#footer #anysurfer {margin-right: 5px;} /* ari toegevoegd*/

*+html .snelnieuws .colcontainer {min-height:1px;}
.snelnieuws p {min-height:1px;_height:1px;}
#carrousel {width:560px;}

* html form {width: 560px}	

* html iframe{width:574px;height:317px}

* html .group {zoom:1;} /* IE6 */
*:first-child+html .group {zoom:1;} /* IE7 */
*+html fieldset ol {min-height:1px;}